<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint name="Server" address="net.tcp://localhost:4000/IDataBase" binding="netTcpBinding" contract="Common.IDatabase" />
    </client>
  </system.serviceModel>
</configuration>